<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Catering Websites</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
     
    <link rel="stylesheet" media="screen and (max-width:1750px)" href="css/phone.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src=" /images/mg.jpg" alt="">
                <div class="img">
                    <h1>Dayal 
                    </h1> 
                    <div>
                        <h1>Caters</h1>
                    </div>

                </div>
            </div>

            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="">Services</a></li>
            <li class="item"><a href="">About</a></li>
            <li class="item"><a href="/contact">Contact us</a></li>
        </ul>
    </nav>
    <section id="contact">
        <div class="h-primary center">Contact us</div>
        <div id="contact-box">
            <form action="" method="post">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="name" name="name" id="name" placeholder="Enter Your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter Your email">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter Your password">
                </div>
                <div class="form-group">
                    <label for="phone">Phone: </label>
                    <input type="phone" name="phone" id="name" placeholder="Enter Your phone number">
                </div>
                <div class="form-group">
                    <label for="name">Messages: </label>
                     <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Write about yourself"></textarea>
                </div>
                <button class="btns">Submit Form</button>
            </form>
        </div>
    </section>

    <footer>
        &copy Copyright 2020-21 Codewithabhijeet.Com
    </footer>