 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> &#128512 Famous Catering Websites</title>
     <link rel="stylesheet" href="css/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
      
     <link rel="stylesheet" media="screen and (max-width:1750px)" href="css/phone.css">
 </head>
 <body>
     <nav id="navbar">
         <ul>
             <div id="logo">
                 <img src=" /images/mg.jpg" alt="">
                 <div class="img">
                     <h1>Dayal 
                     </h1> 
                     <div>
                         <h1>Caters</h1>
                     </div>

                 </div>
             </div>

             <li class="item"><a href="/">Home</a></li>
             <li class="item"><a href="">Services</a></li>
             <li class="item"><a href="">About</a></li>
             <li class="item"><a href="/contact">Contact us</a></li>
         </ul>
     </nav>
     <section id="home">
         <h1 class="h-primary">Welcome to my online meal</h1>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita corporis voluptates perspiciatis quod impedit quibusdam eum .</p>
         <p>libero similique numquam qui officia iusto veniam odit maiores, eveniet architecto. Tempora optio error ratione explicabo</p>
         <button class="btn">Order Now</button>
     </section>

     <section id="services-container">
         <h1 class="h-primary center">Our Services</h1>
         <div id="services">
             <div class="box">
              <img src="/images/s1.jpg" alt="">
              <h2 class="h-secondry center">Food ordering</h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laborum quis esse eveniet at aut qui. Nemo adipisci laudantium aut animi veritatis, rerum incidunt ipsam rem cum velit dolorem eligendi?
             </div>
             <div class="box">
              <img src="/images/s2.jpg" alt="">
              <h2 class="h-secondry center">Food ordering</h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laborum quis esse eveniet at aut qui. Nemo adipisci laudantium aut animi veritatis, rerum incidunt ipsam rem cum velit dolorem eligendi?
             </div>
             <div class="box">
              <img src="/images/s3.jpg" alt="">
              <h2 class="h-secondry center">Food ordering</h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laborum quis esse eveniet at aut qui. Nemo adipisci laudantium aut animi veritatis, rerum incidunt ipsam rem cum velit dolorem eligendi?
             </div>
         </div>
     </section>
     <section id="client-section">
          <div class="h-primary center">Our Clients</div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s1.png" alt="">
              </div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s2.png" alt="">
              </div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s3.png" alt="">
              </div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s4.png" alt="">
              </div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s5.png" alt="">
              </div>
          <div class="clients">
              <div class="client-item">
                  <img src="/images/client/s6.png" alt="">
              </div>
          </div>
     </section>

     <section id="contact">
         <div class="h-primary center">Contact us</div>
         <div id="contact-box">
             <form action="" method="post">
                 <div class="form-group">
                     <label for="name">Name: </label>
                     <input type="name" name="name" id="name" placeholder="Enter Your name">
                 </div>
                 <div class="form-group">
                     <label for="email">Email: </label>
                     <input type="email" name="email" id="email" placeholder="Enter Your email">
                 </div>
                 <div class="form-group">
                     <label for="password">Password: </label>
                     <input type="password" name="password" id="password" placeholder="Enter Your password">
                 </div>
                 <div class="form-group">
                     <label for="phone">Phone: </label>
                     <input type="phone" name="phone" id="name" placeholder="Enter Your phone number">
                 </div>
                 <div class="form-group">
                     <label for="name">Messages: </label>
                      <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Write about yourself"></textarea>
                 </div>
                 <button class="btns">Submit Form</button>
             </form>
         </div>
     </section>

     <footer>
         &copy Copyright 2020-21 Codewithabhijeet.Com
     </footer>
 </body>
 </html>